doctype html.fullscreen-bg
head
  title #{title}
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  // VENDOR CSS
  link(rel='stylesheet' href='/assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet' href='/assets/vendor/linearicons/style.css')
  // MAIN CSS
  link(rel='stylesheet' href='/assets/css/main.css')
  link(rel='stylesheet' href='/assets/css/other.css')
  link(rel='stylesheet' href='/assets/vendor/bootstrap-social/bootstrap-social.css')
  // FOR DEMO PURPOSES ONLY. You should remove this in your project
  link(rel='stylesheet' href='/assets/css/demo.css')
  // GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet')
  // ICONS
  link(rel='apple-touch-icon' sizes='76x76' href='/assets/img/apple-icon.png')
  link(rel='icon' type='image/png' sizes='96x96' href='/assets/img/favicon.png')
// WRAPPER
body
  #wrapper
    .vertical-align-wrap
      .vertical-align-middle
        .auth-box.lockscreen
          .content
            .header
              .logo.text-center
                img(src='/assets/img/logo-scrum.png' alt='Scrum Logo')
              p.lead Create an account
            form.form-auth-small(action='/signup' method='POST')
              .form-group
                label.control-label.sr-only(for='signin-email') Email
                input#signin-email.form-control(type='email' placeholder='Email' name='email')
              .form-group
                label.control-label.sr-only(for='signin-password') Password
                input#signin-password.form-control(type='password' placeholder='Password' name='password')
              button.btn.btn-primary.btn-lg.btn-block(type='submit') SIGN UP
              .bottom
                a.btn.btn-block.btn-social.btn-google(href="/auth/google" style='margin-top: 10px;')
                  span.fa.fa-google
                  |  Sign Up with Google
                a.btn.btn-block.btn-social.btn-linkedin(href="/auth/linkedin"  style='margin-top: 8px;')
                  span.fa.fa-linkedin
                  |  Sign Up with LinkedIn
                a.btn.btn-block.btn-social.btn-github(href="/auth/github"  style='margin-top: 8px;')
                  span.fa.fa-github
                  |  Sign Up with Github
                p.helper-text(style="margin-top:25px;")
                  | Already have an account? 
                  a(href='/login') Log In
