#new-story-modal.modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      form(action='/stories/new/')
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4#gridSystemModalLabel.modal-title New Story
        .modal-body
          .card-container.manual-flip
            .card
              .front.overflow-hidden 
                .row(style='margin:0px;')
                  .container-fluid
                    .form-group
                      .row.margin-top-5
                        .col-md-2
                          label.margin-top-5(for='story-narrative') Narrative
                        .col-md-6
                          input#story-narrative.form-control.card-input(type='text' placeholder='Narrative' name='narrative')
                        .col-md-2
                          label.margin-top-5(for='story-priority') Priority
                        .col-md-2
                          select#story-priority.form-control.card-input-select(multipe="multiple" name='priority')
                            option(value='Low') Low
                            option(value='Middle') Middle
                            option(value='High') High
                    .form-group
                      .row
                        .col-md-2
                          label.margin-top-5(for='story-how') How
                        .col-md-6
                          input#story-how.form-control.card-input(type='text' placeholder='How' name='how')
                        .col-md-2
                          label.margin-top-5(for='story-size') Size
                        .col-md-2
                          select#story-size.form-control.card-input-select(multipe="multiple" name='size')
                            option(value=1) 1
                            option(value=3) 3
                            option(value=5) 5
                            option(value=8) 8
                    .form-group
                      .row
                        .col-md-2
                          label.margin-top-5(for='story-i-want') I want
                        .col-md-6
                          input#story-i-want.form-control.card-input(type='text' placeholder='I want' name='i_want')
                        .col-md-2
                          label.margin-top-5(for='story-estimated-time') Estimated time
                        .col-md-2
                          select#story-estimated-time-se.form-control.card-input-select(name='estimated_time')
                            option(value=1) 1 hour
                            option(value=2) 2 hours
                            option(value=4) 4 hours
                            option(value=8) 8 hours
                            option(value=48) 2 days
                            option(value=96) 3 days
                            option(value=240) 5 days
                            option(value=480) 10 days
                            option(value=720) 1 month
                            option(value=1440) 2 months
                            option(value=2160) 3 months
                            option(value=4320) 6 months
                    .form-group
                      .row
                        .col-md-2
                          label.margin-top-5(for='story-so-that') So that
                        .col-md-10
                          input#story-so-that.form-control.card-input(type='text' placeholder='So that' name='so_that')
              .back
                .row(style='margin:0px;')
                  .container-fluid
                    .form-group
                      .row.margin-top-5
                        .col-md-2
                          label.margin-top-5(for='story-criteria') Criteria
                        .col-md-10
                          input#story-criteria.form-control.card-input(type='text' placeholder='Criteria' name='criteria')
                    .form-group
                      .row
                        .col-md-2
                          label.margin-top-5(for='story-given') Given
                        .col-md-10
                          input#story-given.form-control.card-input(type='text' placeholder='Given' name='given')
                    .form-group
                      .row
                        .col-md-2
                          label.margin-top-5(for='story-when') When
                        .col-md-10
                          input#story-when.form-control.card-input(type='text' placeholder='When' name='when')
                    .form-group
                      .row
                        .col-md-2
                          label.margin-top-5(for='story-then') Then
                        .col-md-10
                          input#story-then.form-control.card-input(type='text' placeholder='Then' name='then')
        .modal-footer
          a.btn.btn-primary.turn-card(type='button' style='margin:0;float:left;')
            i.fa.fa-retweet(style='margin-right: 5px;')
            | Turn Card
          button.btn.btn-default(type='button' data-dismiss='modal') Close
          button.btn.btn-primary.new-story-ajax(type='button') Save
