.pac-container, ul.ui-autocomplete {
    z-index: 99999 !important;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

textarea {
  max-width: 568px;
  min-height: 65px;
}

textarea.large {
  height: 300px;
}

td.padding-sm {
  padding-left: 5px;
  padding-right: 5px
}

.margin-top-5 {
  margin-top: 8px;
}

.estimated-time {
  margin-left: 5px;
  font-size: .65em;
}

.auth-box {
  height: 500px;
}

.project-panel-sm {
  max-height: 200px;
  overflow-y: scroll;
}

.project-panel-md {
  max-height: 250px;
  overflow-y: scroll;
}

.table-story-sm {
  width: 80px;
}

.card-container {
  perspective: 700;
}

.card {
  position: relative;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}

.front{
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.overflow-hidden {
  overflow: hidden
}

.front, .back {
  padding: 15px;
  background: #ffff93;
}

.front:before, .back:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #ffff93 #ffff93;
  background: #658E15;
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  display: block; width: 0;
}

.card-input, .card-input:focus {
  box-shadow: none;
  background: transparent;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #676a6d;
}

.card-input-select, .card-input-select:focus {
  box-shadow: none;
  background: transparent;
  border: none;
  border: 1px solid #676a6d;
}

.rotate {
  transform: rotateY(180deg);
}

.display-none {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
