#edit-project-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel')
  .modal-dialog(role='document')
    .modal-content
      form(action=`/projects/edit/${project.id}`)
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4#gridSystemModalLabel.modal-title Edit Project
        .modal-body
          .form-group
            label(for='project-name-edit') Project name
            input#project-name-edit.form-control(type='text' placeholder='Name' name='name' value=(project.name == null ? '' : project.name))
          .form-group
            label(for='project-application-date') Project request date
            input#project-application-date-edit.form-control(type='date' name='applicationDate' value=(project.applicationDate == null ? '' : project.applicationDate))
          .form-group
            label(for='project-start-date-edit') Project start date
            input#project-start-date-edit.form-control(type='date' name='startDate' value=(project.startDate == null ? '' : project.startDate))
          .form-group
            label(for='project-description-edit') Description
            textarea#project-description-edit.form-control(name='description')
              | #{project.description == null ? '' : project.description}
          .form-group
            label(for='project-manager-edit') Project manager (scrum master)
            select#project-manager-edit.form-control(name='projectManager' data-projectManager=(project.projectManager == null ? '' : project.projectManager))
              each user in users
                if currentUser.id == user.id
                  option(value=user.id selected) #{user.email}
                else
                  option(value=user.id) #{user.email}
          .form-group
            label(for='project-owner-edit') Project owner
            select#project-owner-edit.form-control(multipe="multiple" name='productOwner' data-productOwner=(project.productOwner == null ? '' : project.productOwner))
              each user in users
                if currentUser.id == user.id
                  option(value=user.id selected) #{user.email}
                else
                  option(value=user.id) #{user.email}
          .form-group
            label(for='project-team-edit') Project team
            select#project-team-edit.form-control(multipe="multiple" name='team' data-team=(project.team == null ? '' : project.team))
              each user in users
                if currentUser.id == user.id
                  option(value=user.id selected) #{user.email}
                else
                  option(value=user.id) #{user.email}
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Close
          button.btn.btn-primary.edit-project-ajax(type='button') Save
