extends ../layout

block content
  .row
    .col-md-12
      .panel.panel-headline
        .panel-heading
          h3.panel-title #{title}
          p.panel-subtitle #{description}
          .right
            a.btn.btn-primary(type='button' style="margin:0;" data-toggle="modal" data-target="#new-project-modal")
              |  New project
        .panel-body
          table.table.table-hover
            thead
              tr
                th Name
                th Description
                th State
                th.text-center Actions
            tbody
              each project in projects.docs
                  tr(class=(project.isOpen == false) ? "danger" : "")
                    td #{project.name}
                    td #{project.description}
                    td
                      if project.isOpen
                        span(class="label label-success") Open
                      else
                        span(class="label label-danger") Closed
                    td.text-center
                      if project.isOpen || typeof project.isOpen === 'undefined'
                        a.hvr-grow(href=`projects/show/${project.id}` style='display: inherit;')
                          span(class="label label-success") Open
                        if  currentUser.id == project.projectManager
                          a.hvr-grow.delete-project-ajax(href="#" style='display: inherit;' data-id=project.id data-manager=project.projectManager)
                            span(class="label label-danger") Delete
                      else if currentUser.id == project.projectManager
                        a.hvr-grow.change-state-project-ajax(href="#" data-id=`${project.id}`)
                          span(class="label label-primary") Reopen Project
        .panel-footer
          .row
            .col-md-6
              h5 #{projectsCount} Projects
            nav.col-md-6.text-right(aria-label='Page navigation')
              ul.pagination.pagination-sm(style="margin:3px 0 0")
                  if projects.hasPrevPage
                    li
                      a(href=`/projects/${(parseInt(projects.page) - 1)}` aria-label='Previous')
                        span(aria-hidden='true') &laquo;
                    li
                      a(href=`/projects/${parseInt(projects.page) - 1}`) #{parseInt(projects.page) - 1}
                  else
                    li(class="disabled")
                      a(href="#" aria-label='Previous')
                        span(aria-hidden='true') &laquo;
                    li
                  li.active
                    a(href='#') #{projects.page}
                  if projects.hasNextPage
                    li
                      a(href=`/projects/${parseInt(projects.page) + 1}`) #{parseInt(projects.page) + 1}
                    li(class={"disabled": !projects.hasNextPage})
                      a(href=`/projects/${parseInt(projects.page) + 1}` aria-label='Next')
                        span(aria-hidden='true') &raquo;
                  else
                    li(class={"disabled": !projects.hasNextPage})
                      a(href="#" aria-label='Next')
                        span(aria-hidden='true') &raquo;
                        
    //- includes the new project modal
    include new.pug
