#retrospective-modal.modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      form(action=`/projects/edit/${project.id}`)
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4#gridSystemModalLabel.modal-title Retrospective
        .modal-body
          table(style='width:100%;')
            thead
              tr
                th.text-center What did I do well?
                th.text-center What did I do wrong?
                th.text-center How can I improve?
            tbody
              tr
                td.padding-sm
                  textarea#retrospective-well.form-control.large(name='well') #{project.retrospective.well}
                td.padding-sm
                  textarea#retrospective-wrong.form-control.large(name='wrong') #{project.retrospective.wrong}
                td.padding-sm
                  textarea#retrospective-improve.form-control.large(name='improve') #{project.retrospective.improve}
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Close
          button.btn.btn-primary.retrospective-ajax(type='button') Save
