extends ../layout

block content
  .row
    .col-md-6
      h3.page-title
        | #{project.name} -
        if estimated_time > 0 && estimated_time <= 8
          span.estimated-time Project duration estimate: #{estimated_time} hours
        else if estimated_time >= 48 && estimated_time <= 480
          - days = (estimated_time/24).toFixed(2)
          span.estimated-time Project duration estimate: #{(days)} days
        else if estimated_time >= 480
          - months = (estimated_time/24/30).toFixed(2)
          span.estimated-time Project duration estimate: #{(months)} months
    if projectManager && currentUser.id == projectManager.id
      .col-md-6.text-right
        if project.isOpen
          a.btn.btn-danger.change-state-project-ajax(style="margin-right:5px;")
            |  Close Project
        a.btn.btn-success.open-edit-project-modal(href='#' data-toggle="modal" data-target="#edit-project-modal")
          |  Edit project
  .row
    .col-md-6
      .panel
        .panel-heading
          h3.panel-title Project information
        .panel-body.project-panel-sm
          .row
            dl.col-md-6
              dt Project request date
              dd #{project.applicationDate}
            dl.col-md-6
              dt Project start date
              dd #{project.startDate}
            dl.col-md-12
              dt Description
              dd #{project.description}
    .col-md-6
      .panel
        .panel-heading
          h3.panel-title Project Members
        .panel-body.project-panel-sm
          .row
            dl.col-md-6
              dt Scrum master
              if projectManager
                dd #{projectManager.name}
            dl.col-md-6
              dt Project Owner
              if productOwner
                dd #{productOwner.name}
            dl.col-md-12
              dt Team members
              dd 
                each user in team
                  p #{user.name}
  div(id='stories' data-project-id=project.id)
    .row
      .col-md-12
        .panel
          .panel-heading
            h3.panel-title Product backlog
            .right
              button.btn-toggle-collapse(type='button')
                i.lnr.lnr-chevron-up.lnr-chevron-down
          .panel-body.no-padding
            table.table.table-striped
              thead
                tr
                  th Narrative
                  th.table-story-sm.text-center Size
                  th.table-story-sm.text-center Priority
                  th.table-story-sm.text-center State
                  if currentUser.id == project.productOwner
                    th.table-story-sm.text-center Approved
              tbody
                tr(v-for="story in stories"
                   v-bind:data-story-id=`story._id`
                   v-if=`story._project_id == "${project.id}" && story._state == "CREATED"`)
                  td.story-narrative-td
                    a.hvr-grow.show-story-modal(
                      href='#' 
                      data-toggle="modal" 
                      data-target="#show-story-modal" 
                      v-on:click=`storyToModal($event, story._id)`
                      )
                      i.fa.fa-external-link(style="margin-right:7px;")
                      span {{story._narrative}}
                  td.story-size-td.table-story-sm.text-center
                    span {{story._size}}
                  td.story-priority-td.table-story-sm.text-center
                    span {{story._priority}}
                  td.story-state-td.table-story-sm.text-center
                    span.label.label-success  {{story._state}}
                  if currentUser.id == project.productOwner
                    td.table-story-sm.text-center
                      label.switch
                        input(type='checkbox' name='approved' v-if=`story._approved == false || story._approved == null`)
                        input(type='checkbox' name='approved' checked v-if=`story._approved == true`)
                        span.slider.round(v-bind:data-approved=`story._approved` v-on:click=`postApproved($event, story._id)`)              
          .panel-footer
            .row
              .text-right
                a.btn.btn-primary(type='button' 
                                  style='margin:0;' 
                                  data-toggle='modal' 
                                  data-target='#new-story-modal')  Add Story
      //- Includes for modals
      include ../stories/new.pug
      include ../stories/show.pug
    .row
      .col-md-6
        .panel
          .panel-heading
            h3.panel-title Release backlog
            .right
              button.btn-toggle-collapse(type='button')
                i.lnr.lnr-chevron-up.lnr-chevron-down
          .panel-body.no-padding
              table.table.table-striped
                thead
                  tr
                    th Narrative
                    th.table-story-sm State
                tbody
                  tr(v-for="story in stories" v-if=`story._project_id == "${project.id}" && story._state == "PENDING"`)
                    td
                      a.hvr-grow(href='#' data-toggle="modal" data-target="#show-story-modal") {{story._narrative}}
                    td
                      span.label.label-warning PENDING
          .panel-footer
            .row
              .text-right
                a.btn.btn-primary(type='button' style='margin:0;' data-toggle='modal' data-target='#retrospective-modal') Retrospective
      .col-md-6
        .panel
          .panel-heading
            h3.panel-title Sprint backlog
            .right
              button.btn-toggle-collapse(type='button')
                i.lnr.lnr-chevron-up.lnr-chevron-down
          .panel-body.no-padding
            table.table.table-striped
              thead
                tr
                  th Narrative
                  th.table-story-sm State
              tbody
                tr(v-for="story in stories" v-if=`story._project_id == "${project.id}" && ( story._state == "COMPLETED" || story._state == "FAILED" )`)
                  td
                    a.hvr-grow(href='#' data-toggle="modal" data-target="#show-story-modal") {{story._narrative}}
                  td
                    span.label.label-success COMPLETED
  if projectManager && currentUser.id == projectManager.id
    //- includes the edit project modal
    include edit.pug
  include retrospective.pug
