#edit-user-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel')
  .modal-dialog(role='document')
    .modal-content
      form(action=`/users/edit/${user.id}`)
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4#gridSystemModalLabel.modal-title Edit user
        .modal-body
          .form-group
            label(for='user-name-edit') Name
            input#user-name-edit.form-control(type='text' placeholder='Name' name='name' value=(user.name == null ? '' : user.name))
          .form-group
            label(for='user-email-edit') Email
            input#user-email-edit.form-control(type='text' placeholder='Email' name='email' value=(user.email == null ? '' : user.email) disabled)
          .form-group
            if user.password
              label(for='user-password-edit') Change password
            else 
              label(for='user-password-edit') Password
            input#user-password-edit.form-control(type='password' placeholder="Password" name='password')
          .form-group
            label(for='user-birthday-edit') Birthday Date
            input#user-birthday-edit.form-control(type='date' name='dateBirth' value=`${user.dateBirth}`)
          .form-group
            label(for='user-curp-edit') CURP
            input#user-curp-edit.form-control(type='text' placeholder='CURP' name='curp' value=user.curp == null ? '' : user.curp)
          .form-group
            label(for='user-rfc-edit') RFC
            input#user-rfc-edit.form-control(type='text' placeholder='RFC' name='rfc' value=user.rfc == null ? '' : user.rfc)
          .form-group
            label(for='user-address-edit') Address
            input#user-address-edit.form-control(type='text' placeholder='Address' name='address' value=user.address == null ? '' : user.address)
          .form-group
            label(for='user-abilities') Abilities
            select#user-abilities.form-control(multipe="multiple" name='team'  data-abilities=user.abilities == null ? '' : user.abilities)
                  optgroup(label="Junior")
                    option(value='ActionScript Junior' ) ActionScript
                    option(value='AppleScript Junior' ) AppleScript
                    option(value='Asp Junior' ) Asp
                    option(value='BASIC Junior' ) BASIC
                    option(value='C Junior' ) C
                    option(value='C# Junior' ) C#
                    option(value='C++ Junior' ) C++
                    option(value='Clojure Junior' ) Clojure
                    option(value='COBOL Junior' ) COBOL
                    option(value='ColdFusion Junior' ) ColdFusion
                    option(value='Elixir Junior' ) Elixir
                    option(value='Erlang Junior' ) Erlang
                    option(value='Fortran Junior' ) Fortran
                    option(value='Groovy Junior' ) Groovy
                    option(value='Go Junior' ) Go
                    option(value='Haskell Junior' ) Haskell
                    option(value='Java Junior' ) Java
                    option(value='JavaScript Junior' ) JavaScript
                    option(value='Lisp Junior' ) Lisp
                    option(value='Objective-C Junior' ) Objective-C
                    option(value='Perl Junior' ) Perl
                    option(value='PHP Junior' ) PHP
                    option(value='Visual Basic Junior' ) Visual Basic
                    option(value='Python Junior' ) Python
                    option(value='Ruby Junior' ) Ruby
                    option(value='Scala Junior' ) Scala
                    option(value='Scheme Junior' ) Scheme
                    option(value='Shell Junior' ) Shell
                    option(value='Swift Junior' ) Swift
                  optgroup(label="Senior")
                    option(value='ActionScript Senior' ) ActionScript
                    option(value='AppleScript Senior' ) AppleScript
                    option(value='Asp Senior' ) Asp
                    option(value='BASIC Senior' ) BASIC
                    option(value='C Senior' ) C
                    option(value='C# Senior' ) C#
                    option(value='C++ Senior' ) C++
                    option(value='Clojure Senior' ) Clojure
                    option(value='COBOL Senior' ) COBOL
                    option(value='ColdFusion Senior' ) ColdFusion
                    option(value='Elixir Senior' ) Elixir
                    option(value='Erlang Senior' ) Erlang
                    option(value='Fortran Senior' ) Fortran
                    option(value='Groovy Senior' ) Groovy
                    option(value='Go Senior' ) Go
                    option(value='Haskell Senior' ) Haskell
                    option(value='Java Senior' ) Java
                    option(value='JavaScript Senior' ) JavaScript
                    option(value='Lisp Senior' ) Lisp
                    option(value='Objective-C Senior' ) Objective-C
                    option(value='Perl Senior' ) Perl
                    option(value='PHP Senior' ) PHP
                    option(value='Visual Basic Senior' ) Visual Basic
                    option(value='Python Senior' ) Python
                    option(value='Ruby Senior' ) Ruby
                    option(value='Scala Senior' ) Scala
                    option(value='Scheme Senior' ) Scheme
                    option(value='Shell Senior' ) Shell
                    option(value='Swift Senior' ) Swift
                  optgroup(label="Master")
                    option(value='ActionScript Master' ) ActionScript
                    option(value='AppleScript Master' ) AppleScript
                    option(value='Asp Master' ) Asp
                    option(value='BASIC Master' ) BASIC
                    option(value='C Master' ) C
                    option(value='C# Master' ) C#
                    option(value='C++ Master' ) C++
                    option(value='Clojure Master' ) Clojure
                    option(value='COBOL Master' ) COBOL
                    option(value='ColdFusion Master' ) ColdFusion
                    option(value='Elixir Master' ) Elixir
                    option(value='Erlang Master' ) Erlang
                    option(value='Fortran Master' ) Fortran
                    option(value='Groovy Master' ) Groovy
                    option(value='Go Master' ) Go
                    option(value='Haskell Master' ) Haskell
                    option(value='Java Master' ) Java
                    option(value='JavaScript Master' ) JavaScript
                    option(value='Lisp Master' ) Lisp
                    option(value='Objective-C Master' ) Objective-C
                    option(value='Perl Master' ) Perl
                    option(value='PHP Master' ) PHP
                    option(value='Visual Basic Master' ) Visual Basic
                    option(value='Python Master' ) Python
                    option(value='Ruby Master' ) Ruby
                    option(value='Scala Master' ) Scala
                    option(value='Scheme Master' ) Scheme
                    option(value='Shell Master' ) Shell
                    option(value='Swift Master' ) Swift
          //- .form-group
          //-   label(for='user-abilities-edit') Abilities (click on input to append more)
          //-   input#user-abilities-edit.form-control.skils-tags(type='text' placeholder='Abilities' name='abilities' value=user.abilities == null ? '' : user.abilities)
          //-   h6 *To add more abilities contact your boss
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Close
          button.btn.btn-primary.edit-user-ajax(type='button') Save
