extends ../layout

block content
  .row
    .col-md-12
      .panel.panel-headline
        .panel-heading
          h3.panel-title #{title}
          p.panel-subtitle #{description}
          .right
            a.btn.btn-primary(type='button' style="margin:0;" data-toggle="modal" data-target="#new-user-modal")
              |  New User
        .panel-body
          table.table.table-hover
            thead
              tr
                th Name
                th Email
            tbody
              each user in users.docs
                tr
                  td #{user.name}
                  td #{user.email}
        .panel-footer
          .row
            .col-md-6
              h5 #{usersCount} Users
            nav.col-md-6.text-right(aria-label='Page navigation')
              ul.pagination.pagination-sm(style="margin:3px 0 0")
                  if users.hasPrevPage
                    li
                      a(href=`/users/${(parseInt(users.page) - 1)}` aria-label='Previous')
                        span(aria-hidden='true') &laquo;
                    li
                      a(href=`/users/${parseInt(users.page) - 1}`) #{parseInt(users.page) - 1}
                  else
                    li(class="disabled")
                      a(href="#" aria-label='Previous')
                        span(aria-hidden='true') &laquo;
                    li
                  li.active
                    a(href='#') #{users.page}
                  if users.hasNextPage
                    li
                      a(href=`/users/${parseInt(users.page) + 1}`) #{parseInt(users.page) + 1}
                    li(class={"disabled": !users.hasNextPage})
                      a(href=`/users/${parseInt(users.page) + 1}` aria-label='Next')
                        span(aria-hidden='true') &raquo;
                  else
                    li(class={"disabled": !users.hasNextPage})
                      a(href="#" aria-label='Next')
                        span(aria-hidden='true') &raquo;
                        
    //- includes the new user modal
    include new.pug
