#new-user-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel')
  .modal-dialog(role='document')
    .modal-content
      form(action='/users/new/')
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4#gridSystemModalLabel.modal-title New User
        .modal-body
          .form-group
            label(for='user-name') Name
            input#user-name.form-control(type='text' placeholder='Name' name='name')
          .form-group
            label(for='user-email') Email
            input#user-email.form-control(type='text' placeholder='Email' name='email')
          .form-group
            label(for='user-password') Password
            input#user-password.form-control(type='password' placeholder="Password" name='password')
          .form-group
            label(for='user-birthday') Birthday Date
            input#user-birthday.form-control(type='date' name='dateBirth')
          .form-group
            label(for='user-curp') CURP
            input#user-curp.form-control(type='text' placeholder='CURP' name='curp')
          .form-group
            label(for='user-rfc') RFC
            input#user-rfc.form-control(type='text' placeholder='RFC' name='rfc')
          .form-group
            label(for='user-address') Address
            input#user-address.form-control(type='text' placeholder='Address' name='address')
          .form-group
            label(for='user-abilities') Proyect team
            select#user-abilities.form-control(multipe="multiple" name='team')
              optgroup(label="Junior")
                option(value='ActionScript Junior' ) ActionScript
                option(value='AppleScript Junior' ) AppleScript
                option(value='Asp Junior' ) Asp
                option(value='BASIC Junior' ) BASIC
                option(value='C Junior' ) C
                option(value='C# Junior' ) C#
                option(value='C++ Junior' ) C++
                option(value='Clojure Junior' ) Clojure
                option(value='COBOL Junior' ) COBOL
                option(value='ColdFusion Junior' ) ColdFusion
                option(value='Elixir Junior' ) Elixir
                option(value='Erlang Junior' ) Erlang
                option(value='Fortran Junior' ) Fortran
                option(value='Groovy Junior' ) Groovy
                option(value='Go Junior' ) Go
                option(value='Haskell Junior' ) Haskell
                option(value='Java Junior' ) Java
                option(value='JavaScript Junior' ) JavaScript
                option(value='Lisp Junior' ) Lisp
                option(value='Objective-C Junior' ) Objective-C
                option(value='Perl Junior' ) Perl
                option(value='PHP Junior' ) PHP
                option(value='Visual Basic Junior' ) Visual Basic
                option(value='Python Junior' ) Python
                option(value='Ruby Junior' ) Ruby
                option(value='Scala Junior' ) Scala
                option(value='Scheme Junior' ) Scheme
                option(value='Shell Junior' ) Shell
                option(value='Swift Junior' ) Swift
              optgroup(label="Senior")
                option(value='ActionScript Senior' ) ActionScript
                option(value='AppleScript Senior' ) AppleScript
                option(value='Asp Senior' ) Asp
                option(value='BASIC Senior' ) BASIC
                option(value='C Senior' ) C
                option(value='C# Senior' ) C#
                option(value='C++ Senior' ) C++
                option(value='Clojure Senior' ) Clojure
                option(value='COBOL Senior' ) COBOL
                option(value='ColdFusion Senior' ) ColdFusion
                option(value='Elixir Senior' ) Elixir
                option(value='Erlang Senior' ) Erlang
                option(value='Fortran Senior' ) Fortran
                option(value='Groovy Senior' ) Groovy
                option(value='Go Senior' ) Go
                option(value='Haskell Senior' ) Haskell
                option(value='Java Senior' ) Java
                option(value='JavaScript Senior' ) JavaScript
                option(value='Lisp Senior' ) Lisp
                option(value='Objective-C Senior' ) Objective-C
                option(value='Perl Senior' ) Perl
                option(value='PHP Senior' ) PHP
                option(value='Visual Basic Senior' ) Visual Basic
                option(value='Python Senior' ) Python
                option(value='Ruby Senior' ) Ruby
                option(value='Scala Senior' ) Scala
                option(value='Scheme Senior' ) Scheme
                option(value='Shell Senior' ) Shell
                option(value='Swift Senior' ) Swift
              optgroup(label="Master")
                option(value='ActionScript Master' ) ActionScript
                option(value='AppleScript Master' ) AppleScript
                option(value='Asp Master' ) Asp
                option(value='BASIC Master' ) BASIC
                option(value='C Master' ) C
                option(value='C# Master' ) C#
                option(value='C++ Master' ) C++
                option(value='Clojure Master' ) Clojure
                option(value='COBOL Master' ) COBOL
                option(value='ColdFusion Master' ) ColdFusion
                option(value='Elixir Master' ) Elixir
                option(value='Erlang Master' ) Erlang
                option(value='Fortran Master' ) Fortran
                option(value='Groovy Master' ) Groovy
                option(value='Go Master' ) Go
                option(value='Haskell Master' ) Haskell
                option(value='Java Master' ) Java
                option(value='JavaScript Master' ) JavaScript
                option(value='Lisp Master' ) Lisp
                option(value='Objective-C Master' ) Objective-C
                option(value='Perl Master' ) Perl
                option(value='PHP Master' ) PHP
                option(value='Visual Basic Master' ) Visual Basic
                option(value='Python Master' ) Python
                option(value='Ruby Master' ) Ruby
                option(value='Scala Master' ) Scala
                option(value='Scheme Master' ) Scheme
                option(value='Shell Master' ) Shell
                option(value='Swift Master' ) Swift
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Close
          button.btn.btn-primary.new-user-ajax(type='button') Save
