extends ../layout

block content
  .row
    .col-md-3
    .col-md-6
      .profile-header
          .overlay
          .profile-main
            img.img-circle(src='/assets/img/user-medium.png' alt='Avatar')
            h3.name #{user.name}
          .profile-stat
            .row
              .col-md-6.stat-item #{projectsCount}
                span Projects
              .col-md-6.stat-item.abilities-count(data-abilities=`${user.abilities}`)
                span Abilities
      .profile-detail
        .profile-info
          h4.heading Basic Info
          ul.list-unstyled.list-justify
            if user.dateBirth
              li
                | Birthdate
                span #{user.dateBirth}
            if user.email
              li
                | Email 
                span #{user.email}
            if user.curp
              li
                | CURP 
                span #{user.curp}
            if user.rfc
              li
                | RFC 
                span #{user.rfc}
            if user.address
              li
                | Address 
                span #{user.address}
            if user.abilities
              li
                | Abilities 
                span(style="width: 350px;text-align: right;") #{user.abilities}
        br
        
        if currentUser.id == user.id
          .text-center
            a.btn.btn-primary.open-edit-user-modal(href='#' data-toggle="modal" data-target="#edit-user-modal") Edit Profile
          .text-center
            a.btn.btn-danger.delete-user-ajax(href="#" data-id=`${currentUser.id}` style="margin-top: 5px;") Delete Account
            
    if currentUser.id == user.id
      //- includes the edit user modal
      include edit.pug
